In [ ]:
# 1. Numpy : Arrays & Matrices

In [35]:
# 1.1. Arrays : Dimensions 



import numpy as np

# 1-Dimensional Array
a1 = np.array([1, 2, 3, 4], dtype=float)
print(a1)
print()
print(type(a1))
print()
print(a1.shape)  # Output: (4,) - Dimension = 4 Rows, 1 Column
print()
# 2-Dimensional Array
a2 = np.array([[11, 12, 13], [21, 22, 23]])
print(a2)
print()
print(type(a2))
print()
print(a2.shape)  # Output: (2, 3) - Dimension = 2 Rows, 3 Columns
print()
# 3-Dimensional Array
a3 = np.array([[[11, 12, 13], [21, 22, 23]], [[31, 32, 33], [41, 42, 44]]])
print(a3)
print()
print(type(a3))
print()
print(a3.shape)  # Output: (2, 2, 3) - Dimension = 2 Layers, 2 Rows, 3 Columns

[1. 2. 3. 4.]

<class 'numpy.ndarray'>

(4,)

[[11 12 13]
 [21 22 23]]

<class 'numpy.ndarray'>

(2, 3)

[[[11 12 13]
  [21 22 23]]

 [[31 32 33]
  [41 42 44]]]

<class 'numpy.ndarray'>

(2, 2, 3)

In [48]:
# 1.2. Arrays : Manipulation



import numpy as np

a1 = np.array([1, 2, 3, 4])


#1-d Array Indexing
print("a1: ",a1[0])  # Output: 1 - Extract First Element

print ()
#1-d Array Reshape >> 2-d Array {4 Rows, 1 Column >> 2 Rows, 2 Columns}
print("after reshaping : ",a1.reshape(2, 2))
a2 = np.array([[11, 12, 13], [21, 22, 23]])

print ()
#2-d Array Indexing
print(a2[0])  # Output: [11 12 13] - Extract First Row Elements
print ()
print(a2[1, 2])  # Output: 23 - Extract Second Row Third Element

print ()
#2-d Array Reshape >> 2-d Array {2 Rows, 3 Columns >> 3 Rows, 2 Columns}
print(a2.reshape(3, 2))


a3 = np.array([[[11, 12, 13], [21, 22, 23]], [[31, 32, 33], [41, 42, 44]]])
print("a3",a3)
print ()
#3-d Array Indexing
print(a3[0])

print ()
#3-d Array Reshape >> {2 Layers, 3 Rows, 2 Columns}
print("after reshaping : ",a3.reshape(2, 3, 2))

print ()
#Array Reshape >> 3-d --> 2-d Array
#print("after reshaping unton 2d array ",a3.reshape(3, 4))

print ()
#2-d Array Transpose : (2, 3) --> (3, 2)
print("transpose of a2 : ",a2.T)

print ()

#3-d Array Transpose : (2, 3, 2) --> (2, 2, 3)
print("transpose of a3 : ",a3.transpose())
print("transpose with dimension : ")
print(np.transpose(a3, axes=(0, 2, 1)))

a1:  1

after reshaping :  [[1 2]
 [3 4]]

[11 12 13]

23

[[11 12]
 [13 21]
 [22 23]]
a3 [[[11 12 13]
  [21 22 23]]

 [[31 32 33]
  [41 42 44]]]

[[11 12 13]
 [21 22 23]]

after reshaping :  [[[11 12]
  [13 21]
  [22 23]]

 [[31 32]
  [33 41]
  [42 44]]]


transpose of a2 :  [[11 21]
 [12 22]
 [13 23]]

transpose of a3 :  [[[11 31]
  [21 41]]

 [[12 32]
  [22 42]]

 [[13 33]
  [23 44]]]
transpose with dimension :
[[[11 21]
  [12 22]
  [13 23]]

 [[31 41]
  [32 42]
  [33 44]]]

In [37]:
# 1.3. Arrays : Concatenation




import numpy as np

a11 = np.array([[1, 2], [3, 4]])
a12 = np.array([[5, 6]])
print("array_1:",a11)
print()
print("array_1:",a12)
print()
# All Element Concatenation to 1-d Array
a11_12 = np.concatenate((a11, a12), axis=None)
print("All Element Concatenation to 1-d Array:")
print(a11_12)

# Row-wise Array Concatenation
a11_12_row = np.concatenate((a11, a12), axis=0)
print("\nRow-wise Array Concatenation:")
print(a11_12_row)

print()
# Column-wise Array Concatenation
a11_12_column = np.concatenate((a11.T, a12.T), axis=1)
print("Column-wise Array Concatenation:")
print(a11_12_column)

array_1: [[1 2]
 [3 4]]

array_1: [[5 6]]

All Element Concatenation to 1-d Array:
[1 2 3 4 5 6]

Row-wise Array Concatenation:
[[1 2]
 [3 4]
 [5 6]]

Column-wise Array Concatenation:
[[1 3 5]
 [2 4 6]]

In [50]:
# 1.4 Arrays : Statistics



import numpy as np

# Create arrays
a4 = np.array([1, 23, 4])
a5 = np.array([56, 7, 8])

# Concatenate & Reshape
a45 = np.concatenate((a4, a5)).reshape(2, 3)

# Array Min
min_val = np.amin(a45)
min_col = np.amin(a45, axis=0)  # Column Min over Row
min_row = np.amin(a45, axis=1)  # Row Min over Column

# Array Max
max_val = np.amax(a45)
max_col = np.amax(a45, axis=0)  # Column Max over Row
max_row = np.amax(a45, axis=1)  # Row Max over Column

# Array Sum
sum_val = np.sum(a45)
sum_col = np.sum(a45, axis=0)  # Column Sum over Row
sum_row = np.sum(a45, axis=1)  # Row Sum over Column

# Array Mean
mean_val = np.mean(a45)
mean_col = np.mean(a45, axis=0)  # Column Mean over Row
mean_row = np.mean(a45, axis=1)  # Row Mean over Column

# Array Std.Dev.
std_dev_val = np.std(a45)
std_dev_col = np.std(a45, axis=0)  # Column Std.Dev. over Row
std_dev_row = np.std(a45, axis=1)  # Row Std.Dev. over Column

# Array Covariance & Correlation
covariance = np.cov(a4, a5)  # Covariance
correlation = np.corrcoef(a4, a5)  # Pearson Correlation

# Print results
print("a4 =", a4)
print()
print("a5 =", a5)
print()
print("a45 =", a45)
print()
print("Minimum value of a45:", min_val)
print()
print("Column-wise minimum of a45:", min_col)
print()
print("Row-wise minimum of a45:", min_row)
print()
print("Maximum value of a45:", max_val)
print()
print("Column-wise maximum of a45:", max_col)
print()
print("Row-wise maximum of a45:", max_row)
print()
print("Sum of a45:", sum_val)
print()
print("Column-wise sum of a45:", sum_col)
print()
print("Row-wise sum of a45:", sum_row)
print()
print("Mean of a45:", mean_val)
print()
print("Column-wise mean of a45:", mean_col)
print()
print("Row-wise mean of a45:", mean_row)
print()
print("Standard deviation of a45:", std_dev_val)
print()
print("Column-wise standard deviation of a45:", std_dev_col)
print()
print("Row-wise standard deviation of a45:", std_dev_row)
print()
print("Covariance between a4 and a5:", covariance)
print()
print("Correlation between a4 and a5:", correlation)

a4 = [ 1 23  4]

a5 = [56  7  8]

a45 = [[ 1 23  4]
 [56  7  8]]

Minimum value of a45: 1

Column-wise minimum of a45: [1 7 4]

Row-wise minimum of a45: [1 7]

Maximum value of a45: 56

Column-wise maximum of a45: [56 23  8]

Row-wise maximum of a45: [23 56]

Sum of a45: 99

Column-wise sum of a45: [57 30 12]

Row-wise sum of a45: [28 71]

Mean of a45: 16.5

Column-wise mean of a45: [28.5 15.   6. ]

Row-wise mean of a45: [ 9.33333333 23.66666667]

Standard deviation of a45: 18.980252896102307

Column-wise standard deviation of a45: [27.5  8.   2. ]

Row-wise standard deviation of a45: [ 9.7410928  22.86676385]

Covariance between a4 and a5: [[ 142.33333333 -206.83333333]
 [-206.83333333  784.33333333]]

Correlation between a4 and a5: [[ 1.         -0.61903739]
 [-0.61903739  1.        ]]

In [71]:
#1.5 Numpy Application : Linear Algebra




import numpy as np

# Define matrices a6 and a7
a6 = np.array([[1, 3], [2, 4]])  # Matrix a6
a7 = np.array([[5, 7], [6, 8]])  # Matrix a7

# Vector Multiplication: {1*5 + 3*7 + 2*6 + 4*8}
a67_vm = np.vdot(a6, a7)  # Vector multiplication of a6 and a7

# Matrix Multiplication: {1*5 + 3*6, 1*7 + 3*8, 2*5 + 4*6, 2*7 + 4*8}
a67_mm1 = np.dot(a6, a7)  # Matrix multiplication of a6 and a7 using np.dot
a67_mm2 = np.matmul(a6, a7)  # Matrix multiplication of a6 and a7 using np.matmul

# Matrix Multiplication
a67 = np.dot(a6, a7)  # Matrix multiplication of a6 and a7

# Matrix Determinant
a67_det = np.linalg.det(a67)  # Determinant of matrix a67

# Matrix Inverse
a67_inv = np.linalg.inv(a67)  # Inverse of matrix a67

# Matrix Eigen Value & Eigen Vector
eig_val, eig_vec = np.linalg.eig(a67)  # Eigenvalues and eigenvectors of matrix a67

# System of Linear Equations: Solution
a8 = np.array([[1, 2], [3, 2]])  # Coefficient matrix
a9 = np.array([4, 8])  # Right-hand side vector

# Solve for x and y
solution = np.linalg.solve(a8, a9)  # Solution of the system of linear equations

# Print the results
print("a6:\n", a6)
print()
print("a7:\n", a7)
print()
print("a67_vm:", a67_vm)          # Vector multiplication of a6 and a7
print()
print("a67_mm1:\n", a67_mm1)       # Matrix multiplication of a6 and a7 using np.dot
print()
print("a67_mm2:\n", a67_mm2)      # Matrix multiplication of a6 and a7 using np.matmul
print()
print("a67:\n", a67)           # Matrix multiplication of a6 and a7
print()
print("a67_det:", a67_det)     # Determinant of matrix a6
print()
print("a67_inv:\n", a67_inv)    # Inverse of matrix a67
print()
print("eig_val:", eig_val)      # Eigenvalues and eigenvectors of matrix a67
print()
print("eig_vec:\n", eig_vec)    # Eigenvalues and eigenvectors of matrix a67
print()
print("Solution:", solution)  # Solution of the system of linear equations

a6:
 [[1 3]
 [2 4]]

a7:
 [[5 7]
 [6 8]]

a67_vm: 70

a67_mm1:
 [[23 31]
 [34 46]]

a67_mm2:
 [[23 31]
 [34 46]]

a67:
 [[23 31]
 [34 46]]

a67_det: 4.0000000000001075

a67_inv:
 [[11.5  -7.75]
 [-8.5   5.75]]

eig_val: [5.80198014e-02 6.89419802e+01]

eig_vec:
 [[-0.80381735 -0.55933852]
 [ 0.59487618 -0.82893933]]

Solution: [2. 1.]

In [ ]:
# 2. Pandas : Series & Dataframes

In [90]:
# 2.1. Pandas Series (with Index)



import pandas as pd  # Importing the pandas library

# Series with Natural Index: {0, 1, 2, ...}
my_series1 = ['a', 'b', 'c', 'd']  # Creating a list of values
ps1 = pd.Series(my_series1)  # Creating a pandas Series using the list
# The Series will have default integer index starting from 0
# ps1 will contain: 
# 0    a
# 1    b
# 2    c
# 3    d
# dtype: object

# Series with Given Index: {'a', 'b', 'c', ...}
my_series2 = {'a': 12, 'b': 34, 'c': 56}  # Creating a dictionary with key-value pairs
ps2 = pd.Series(my_series2)  # Creating a pandas Series using the dictionary
# The Series will have the given keys as index and corresponding values
# ps2 will contain:
# a    12
# b    34
# c    56
# dtype: int64
print("series 1:",ps1)
print()
print("Series 2:",ps2)
print()
print("print 2nd value of Series 2:",ps2[1])
print()
print("Print Value using variable:",ps2['a'])  # Prints the value 12 using the index 'a'
print()
print("print Variable using Value:",ps2[ps2 == 12])  # Prints the index 'a' using the value 12

series 1: 0    a
1    b
2    c
3    d
dtype: object

Series 2: a    12
b    34
c    56
dtype: int64

print 2nd value of Series 2: 34

Print Value using variable: 12

print Variable using Value: a    12
dtype: int64

In [97]:
# 2.2. Pandas Dataframe



import pandas as pd

my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'], 
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'], 
    'Age': [24, 21, 25, 28, 23, 22, 24], 
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

my_df = pd.DataFrame(my_data)
print(my_df)

my_df.to_csv('my_csv_file.csv')  # Write to CSV Format File with Default Index
my_df.to_excel('my_excel_file.xlsx', index=False)  # Write to MS EXCEL Format File without Index

print()
print(my_df.to_csv)

my_df_csv = pd.read_csv('my_csv_file.csv')  # Read CSV File 
my_df_excel = pd.read_excel('my_excel_file.xlsx')  # Read MS EXCEL File
print()
print(my_df_excel)

      Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
1    Bixby    Male      Graduate   21           25000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
6     Siri  Female  Postgraduate   24           28000

<bound method NDFrame.to_csv of       Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
1    Bixby    Male      Graduate   21           25000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
6     Siri  Female  Postgraduate   24           28000>

      Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
1    Bixby    Male      Graduate   21           25000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
6     Siri  Female  Postgraduate   24           28000

In [108]:
# 2.3. Reshape Dataframe : Sort, Subset, Filter, Group, Melt, Pivot



# Import the necessary library
import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

my_df = pd.DataFrame(my_data)  # Create a DataFrame from the dictionary
print("Original DataFrame:")
print(my_df)  # Display the DataFrame
print()

# Sort the DataFrame by the 'Age' column in ascending order
sorted_df_age = my_df.sort_values(by='Age', ascending=True)
print("Sorted DataFrame by Age (ascending):")
print(sorted_df_age)
print()

# Sort the DataFrame by the 'Monthly_Salary' column in ascending order
sorted_df_Monthly_Salary = my_df.sort_values(by='Monthly_Salary', ascending=True)
print("Sorted DataFrame by Monthly Salary (ascending):")
print(sorted_df_Monthly_Salary)
print()

# Sort the DataFrame by the 'Age' column in descending order
sorted_df_Age_descending = my_df.sort_values(by='Age', ascending=False)
print("Sorted DataFrame by Age (descending):")
print(sorted_df_Age_descending)

Original DataFrame:
      Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
1    Bixby    Male      Graduate   21           25000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
6     Siri  Female  Postgraduate   24           28000

Sorted DataFrame by Age (ascending):
      Name  Gender     Education  Age  Monthly_Salary
1    Bixby    Male      Graduate   21           25000
5    Robin    Male      Graduate   22           24000
4     Lyra  Female      Graduate   23           26000
0    Alexa  Female  Postgraduate   24           27000
6     Siri  Female  Postgraduate   24           28000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000

Sorted DataFrame by Monthly Salary (ascending):
      Name  Gender     Education  Age  Monthly_Salary
5    Robin    Male      Graduate   22           24000
1    Bixby    Male      Graduate   21           25000
4     Lyra  Female      Graduate   23           26000
0    Alexa  Female  Postgraduate   24           27000
6     Siri  Female  Postgraduate   24           28000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000

Sorted DataFrame by Age (descending):
      Name  Gender     Education  Age  Monthly_Salary
3   Jarvis    Male     Doctorate   28           35000
2  Cortana  Female  Postgraduate   25           30000
0    Alexa  Female  Postgraduate   24           27000
6     Siri  Female  Postgraduate   24           28000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
1    Bixby    Male      Graduate   21           25000

In [109]:
#Subset Data

import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

my_df = pd.DataFrame(my_data)  # Create a DataFrame from the dictionary

# Subset DataFrame
print("Extracting data of the 'Name' column as a Series:")
print(my_df['Name'])

print("\nExtracting data of the 'Name' column as a DataFrame:")
print(my_df[['Name']])

print("\nExtracting data of multiple columns as a DataFrame:")
print(my_df[['Name', 'Age']])

print("\nExtracting data by specific row number as a Series:")
print(my_df.iloc[1])

kk = my_df.loc[0, 'Age']  # Extract data by specific row and column names as a value (string or number)
print("\nValue extracted using loc[0, 'Age']:", kk)

Extracting data of the 'Name' column as a Series:
0      Alexa
1      Bixby
2    Cortana
3     Jarvis
4       Lyra
5      Robin
6       Siri
Name: Name, dtype: object

Extracting data of the 'Name' column as a DataFrame:
      Name
0    Alexa
1    Bixby
2  Cortana
3   Jarvis
4     Lyra
5    Robin
6     Siri

Extracting data of multiple columns as a DataFrame:
      Name  Age
0    Alexa   24
1    Bixby   21
2  Cortana   25
3   Jarvis   28
4     Lyra   23
5    Robin   22
6     Siri   24

Extracting data by specific row number as a Series:
Name                 Bixby
Gender                Male
Education         Graduate
Age                     21
Monthly_Salary       25000
Name: 1, dtype: object

Value extracted using loc[0, 'Age']: 24

In [110]:
#Filter Data 

import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

my_df = pd.DataFrame(my_data)  # Create a DataFrame from the dictionary

# Filter DataFrame
print("Filtering data with a single criteria (Gender is 'Female'):")
female_data = my_df[my_df['Gender'] == 'Female']
print(female_data)
print()

print("Filtering data with multiple criteria (Age < 25 and Education is 'Graduate'):")
filtered_data = my_df[(my_df['Age'] < 25) & (my_df['Education'] == 'Graduate')]
print(filtered_data)

Filtering data with a single criteria (Gender is 'Female'):
      Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
2  Cortana  Female  Postgraduate   25           30000
4     Lyra  Female      Graduate   23           26000
6     Siri  Female  Postgraduate   24           28000

Filtering data with multiple criteria (Age < 25 and Education is 'Graduate'):
    Name  Gender Education  Age  Monthly_Salary
1  Bixby    Male  Graduate   21           25000
4   Lyra  Female  Graduate   23           26000
5  Robin    Male  Graduate   22           24000

In [114]:
#Group Data


import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

my_df = pd.DataFrame(my_data)  # Create a DataFrame from the dictionary

# Group DataFrame
print("Grouping data by 'Education' column and calculating the mean of 'Age' and 'Monthly_Salary':")
grouped_data = my_df.groupby('Education')['Age', 'Monthly_Salary'].mean()
print(grouped_data)

Grouping data by 'Education' column and calculating the mean of 'Age' and 'Monthly_Salary':
                    Age  Monthly_Salary
Education
Doctorate     28.000000    35000.000000
Graduate      22.000000    25000.000000
Postgraduate  24.333333    28333.333333

C:\Users\HP\AppData\Local\Temp\ipykernel_189320\1263813539.py:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = my_df.groupby('Education')['Age', 'Monthly_Salary'].mean()

In [115]:
#pivot Table 


import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

# Pivot Table from DataFrame
my_df = pd.DataFrame(my_data)  # Create a DataFrame from the dictionary

print("Creating a pivot table from the DataFrame:")
my_df_pivot = pd.pivot_table(my_df, index='Gender', columns='Education', values='Age', aggfunc='median')
print(my_df_pivot)

Creating a pivot table from the DataFrame:
Education  Doctorate  Graduate  Postgraduate
Gender
Female           NaN      23.0          24.0
Male            28.0      21.5           NaN

In [123]:
#Create Dict


import pandas as pd
# Create Dummy DataFrame: Using Python Dict
panel_data = {
    'Company': ['ABC', 'ABC', 'DEF', 'DEF', 'GHI', 'GHI'],
    'Year': [2001, 2002, 2001, 2002, 2001, 2002],
    'Revenue': [1234, 2345, 3456, 4567, 5678, 6789]
}

# Create a DataFrame from the panel_data dictionary
panel_df = pd.DataFrame(panel_data)

# Print the created DataFrames
print("DataFrame 'panel_df' created from panel_data:")
print(panel_df)
print()

# Print row using company name
company_name = 'DEF'
print("Row from 'panel_df' with Company name:", company_name)
print(panel_df[panel_df['Company'] == company_name])

DataFrame 'panel_df' created from panel_data:
  Company  Year  Revenue
0     ABC  2001     1234
1     ABC  2002     2345
2     DEF  2001     3456
3     DEF  2002     4567
4     GHI  2001     5678
5     GHI  2002     6789

Row from 'panel_df' with Company name: DEF
  Company  Year  Revenue
2     DEF  2001     3456
3     DEF  2002     4567

In [130]:
#pivot table 



import pandas as pd

# Create DataFrame: Using Python Dict
my_data = {
    'Name': ['Alexa', 'Bixby', 'Cortana', 'Jarvis', 'Lyra', 'Robin', 'Siri'],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate', 'Doctorate', 'Graduate', 'Graduate', 'Postgraduate'],
    'Age': [24, 21, 25, 28, 23, 22, 24],
    'Monthly_Salary': [27000, 25000, 30000, 35000, 26000, 24000, 28000]
}

# Create a DataFrame from the my_data dictionary
my_data_df = pd.DataFrame(my_data)

# Print the original DataFrame
print("Original 'my_data_df' DataFrame:")
print(my_data_df)

# Pivot DataFrame
my_data_df_pivot = my_data_df.pivot_table(index=['Education', 'Gender'], columns='Name', values=['Age', 'Monthly_Salary'])

# Reset index of the pivot table
my_data_df_pivot.reset_index(inplace=True)

# Print the pivoted DataFrame
print("\nPivoted 'my_data_df_pivot' DataFrame:")
print(my_data_df_pivot)

Original 'my_data_df' DataFrame:
      Name  Gender     Education  Age  Monthly_Salary
0    Alexa  Female  Postgraduate   24           27000
1    Bixby    Male      Graduate   21           25000
2  Cortana  Female  Postgraduate   25           30000
3   Jarvis    Male     Doctorate   28           35000
4     Lyra  Female      Graduate   23           26000
5    Robin    Male      Graduate   22           24000
6     Siri  Female  Postgraduate   24           28000

Pivoted 'my_data_df_pivot' DataFrame:
         Education  Gender   Age                                         \
Name                       Alexa Bixby Cortana Jarvis  Lyra Robin  Siri
0        Doctorate    Male   NaN   NaN     NaN   28.0   NaN   NaN   NaN
1         Graduate  Female   NaN   NaN     NaN    NaN  23.0   NaN   NaN
2         Graduate    Male   NaN  21.0     NaN    NaN   NaN  22.0   NaN
3     Postgraduate  Female  24.0   NaN    25.0    NaN   NaN   NaN  24.0

     Monthly_Salary
Name          Alexa    Bixby  Cortana   Jarvis     Lyra    Robin     Siri
0               NaN      NaN      NaN  35000.0      NaN      NaN      NaN
1               NaN      NaN      NaN      NaN  26000.0      NaN      NaN
2               NaN  25000.0      NaN      NaN      NaN  24000.0      NaN
3           27000.0      NaN  30000.0      NaN      NaN      NaN  28000.0

In [134]:
#Meld function



import pandas as pd
# Create Dummy DataFrame: Using Python Dict
panel_data = {
    'Company': ['ABC', 'ABC', 'DEF', 'DEF', 'GHI', 'GHI'],
    'Year': [2001, 2002, 2001, 2002, 2001, 2002],
    'Revenue': [1234, 2345, 3456, 4567, 5678, 6789]
}

# Create a DataFrame from the panel_data dictionary
panel_df = pd.DataFrame(panel_data)

# Pivot DataFrame
panel_df_pivot = pd.pivot(panel_df, index='Company', columns='Year', values='Revenue')  # Create a pivot table from the DataFrame
panel_df_pivot.reset_index(level='Company', inplace=True)  # Reset the index of the pivot table

# Print the pivoted DataFrame
print("\nPivoted 'panel_df_pivot' DataFrame:")
print(panel_df_pivot)
print()

# Melt DataFrame
panel_df_pivot_melt = pd.melt(panel_df_pivot, id_vars=['Company'], value_name='Revenue')  # Convert the pivot table to a long format

# Print the melted DataFrame
print("Melted 'panel_df_pivot_melt' DataFrame:")
print(panel_df_pivot_melt)

# Sort the melted DataFrame by 'Revenue' column
panel_df_pivot_melt_sorted = panel_df_pivot_melt.sort_values(by=['Revenue'])

# Print the sorted melted DataFrame
print("Sorted 'panel_df_pivot_melt_sorted' DataFrame:")
print(panel_df_pivot_melt_sorted)

Pivoted 'panel_df_pivot' DataFrame:
Year Company  2001  2002
0        ABC  1234  2345
1        DEF  3456  4567
2        GHI  5678  6789

Melted 'panel_df_pivot_melt' DataFrame:
  Company  Year  Revenue
0     ABC  2001     1234
1     DEF  2001     3456
2     GHI  2001     5678
3     ABC  2002     2345
4     DEF  2002     4567
5     GHI  2002     6789
Sorted 'panel_df_pivot_melt_sorted' DataFrame:
  Company  Year  Revenue
0     ABC  2001     1234
3     ABC  2002     2345
1     DEF  2001     3456
4     DEF  2002     4567
2     GHI  2001     5678
5     GHI  2002     6789

In [139]:
# 2.4. Combine Dataframe : Concat, Merge



import pandas as pd

# Create a dictionary with the panel data
panel_data = {
    'Company': ['ABC', 'ABC', 'DEF', 'DEF', 'GHI', 'GHI'],
    'Year': [2001, 2002, 2001, 2002, 2001, 2002],
    'Revenue': [1234, 2345, 3456, 4567, 5678, 6789],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

# Create a DataFrame from the panel data dictionary
my_df = pd.DataFrame(panel_data)

# Print the original DataFrame
print("Original 'my_df' DataFrame:")
print(my_df)

# Create a DataFrame for female data
my_df_f = my_df[my_df['Gender'] == 'Female']

# Print the DataFrame for female data
print("\nDataFrame for Female Data:")
print(my_df_f)

# Create a DataFrame for male data
my_df_m = my_df[my_df['Gender'] != 'Female']

# Print the DataFrame for male data
print("\nDataFrame for Male Data:")
print(my_df_m)

# Concatenate the female and male DataFrames vertically (axis=0)
my_df_fm = pd.concat([my_df_f, my_df_m], ignore_index=True)

# Print the concatenated DataFrame
print("\nConcatenated DataFrame (Female + Male):")
print(my_df_fm)

# Separate DataFrames for female and male gender data
my_df_f_gender = my_df_f[['Gender', 'Revenue']]
my_df_m_gender = my_df_m[['Gender', 'Revenue']]

# Merge the female and male DataFrames based on the 'Gender' column using a left join
my_df_merged_left = pd.merge(my_df_f_gender, my_df_m_gender, on='Gender', how='left')

# Print the merged DataFrame (left join)
print("\nMerged DataFrame (Left Join) based on 'Gender' column:")
print(my_df_merged_left)

Original 'my_df' DataFrame:
  Company  Year  Revenue  Gender
0     ABC  2001     1234    Male
1     ABC  2002     2345  Female
2     DEF  2001     3456    Male
3     DEF  2002     4567  Female
4     GHI  2001     5678    Male
5     GHI  2002     6789  Female

DataFrame for Female Data:
  Company  Year  Revenue  Gender
1     ABC  2002     2345  Female
3     DEF  2002     4567  Female
5     GHI  2002     6789  Female

DataFrame for Male Data:
  Company  Year  Revenue Gender
0     ABC  2001     1234   Male
2     DEF  2001     3456   Male
4     GHI  2001     5678   Male

Concatenated DataFrame (Female + Male):
  Company  Year  Revenue  Gender
0     ABC  2002     2345  Female
1     DEF  2002     4567  Female
2     GHI  2002     6789  Female
3     ABC  2001     1234    Male
4     DEF  2001     3456    Male
5     GHI  2001     5678    Male

Merged DataFrame (Left Join) based on 'Gender' column:
   Gender  Revenue_x  Revenue_y
0  Female       2345        NaN
1  Female       4567        NaN
2  Female       6789        NaN